.sections-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.sections-container > .nav-search > div > select {
  height: 24px;
  margin-right: 0.5rem;
}

.table-section {
  width: 70%;
}

.table-section > div:nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.modal-add-student > h3 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.modal-add-student > div > input {
  height: 24px;
}

/* responsive */

@media (max-width: 768px) {
  .sections-container > h1 {
    font-size: x-large;
  }

  .table-section {
    width: 90%;
  }
}
