:root {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --lightgray: #d9d9d9;
  --gray: #9c9c9c;
  --orange: #f48915;
  --darkGrey: #464d53;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
  --appColor: #3c3f45;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

button {
  border-radius: 8px;
  border-color: transparent;
  padding: 0.4rem 0.8rem;
  font-size: 0.7rem;
  font-weight: 500;
  font-family: inherit;
  background: var(--orange);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background: transparent;
  border: 2px solid var(--orange);
}

.blur {
  width: 10rem;
  height: 10rem;
  background: rgba(253, 120, 43, 0.69);
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
  z-index: -9;
}

.text-error {
  display: block;
  color: red;
  font-size: 12px;
  align-self: flex-end;
  margin-right: 5px;
}
