.homework-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
}

textarea {
  resize: none;
  margin-top: 0.5rem;
}

.h-button {
  margin-top: 0.5rem;
}
