.createNotes-container {
  display: flex;
  width: 75%;
  position: relative;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 2rem;
}

select {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0.5rem;
  flex: 1;
}
